<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-book-open-reader"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Dashboard
              <span class="visually-hidden">(current)</span>
            </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" href="/stories/public">Public Stories</a>
        </li> -->
        <% if(typeof user!="undefined"){%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Apps</a>
            <div class="dropdown-menu">
              <a href="/tracker" class="dropdown-item">Expence Tracker</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/stories/public">Public Stories</a>
            </div>
          </li>
          <%}%>
            <!-- <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User</a>
              <div class="dropdown-menu">
                <% if(typeof user=="undefined"){%>
                  <a class="dropdown-item" href="/">Login</a>
                  <%}else{%>
                    <div class="card text-center width-100">
                      <div class="card-header">
                        <%= user.displayName%>
                      </div>
                      <div class="card-body">
                        <img src="<%= user.image%>" alt="User Image" class="rounded-circle">
                      </div>
                      <div class="card-footer">
                        <a href="/auth/logout" class="btn btn-primary d-block">Logout</a>
                      </div>
                    </div>

                    <%}%>
                      <!-- <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a> -->
              </div>
            </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search" spellcheck="false" data-ms-editor="true">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>